@model cosoLibri.Models.Libro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isbn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isbn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnnoPub)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnnoPub)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lingua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lingua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkEditoreNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkEditoreNavigation.CodiceEditore)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codice">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
